In [73]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from nba_api.stats.static import players

In [74]:
# import csv as dataframe
df = pd.read_csv('injury_data.csv')
df.head()

,Unnamed: 0,Date,Team,Returned,Injured,Injury,Length
0,0,8/5/1947,Bombers,NaN,Jack Underman,fractured legs,(in auto accident)
1,1,2/15/1948,Bullets,Buddy Jeannette,NaN,broken rib,(DTD)
2,2,11/12/1949,Capitols,NaN,Fred Scolari,fractured right cheekbone,(out indefinitely)
3,3,12/23/1949,Knicks,NaN,Vince Boryla,mumps,(out ~2 weeks)
4,4,1/13/1950,Knicks,Vince Boryla,NaN,returned to lineup,(date approximate)

In [75]:
# Determine the Injured players and injury lengths

injury_type = df[["Injured", "Team", "Length", "Date"]]
injury_type.dropna
injury_type

              Injured      Team                 Length        Date
0       Jack Underman   Bombers     (in auto accident)    8/5/1947
1                 NaN   Bullets                  (DTD)   2/15/1948
2        Fred Scolari  Capitols     (out indefinitely)  11/12/1949
3        Vince Boryla    Knicks         (out ~2 weeks)  12/23/1949
4                 NaN    Knicks     (date approximate)   1/13/1950
...               ...       ...                    ...         ...
28094    LeBron James    Lakers                  (DTD)   1/11/2020
28095  Derrick Favors  Pelicans                  (DTD)   1/11/2020
28096     J.J. Redick  Pelicans                  (DTD)   1/11/2020
28097    Clint Capela   Rockets                  (DTD)   1/11/2020
28098             NaN   Rockets  (Length Undetermined)   1/11/2020

[28099 rows x 4 columns]

In [76]:
# Organize by Player ID and determine how many injuries they've occurred over the last 20 years

prc = pd.df({'Date': abs(np.random.randn(21))}, 
                    index=pd.date_range("2000", "2020", freq="D"))

prc_sub = prc.loc['2000: 2020']


total_injuries = len(df['Injured'].total_counts()

SyntaxError: unexpected EOF while parsing (<ipython-input-76-300a6c1e8e7b>, line 12)

In [ ]:
# Calculate how many years that the players have been playing in the NBA

for index, item in df.iterrows():
    date = item['Date'].split('/')
    
    
    if int(date[2]) >= 2000:
        print(date[2])
        
if date[0] >= 10:
    #If it's october-december
    seasonYear = f'{string}-{str(int(string[-2:])+1).zfill(2)}'
#if it's january-september
    seasonYear = f'{(int(string)-1)}-{str(int(string[-2:])).zfill(2)}'

In [ ]:



injury_date = df[["Injured", "Date"]]
injury_date.dropna
injury_date 


df.sort_values(by=['Injured', 'Date'])